#page-user-profile{
	#nav-drawer.closed {
	    overflow: visible;
	    width: 0;
	    left: 0;
	    background: white;
	}
	#page-header{
		display: none;
	}
	#progressoverview{
		.userprofileimg{
		    height: 60px;
		    width: 60px;
		    border-radius: 50%;
		    transform: translate(0%, 0%);
		}
		.info{
			margin: auto;
    		font-size: 15px;
    		margin-left: 5px;
		}
		#issued-badge-table{
			h2{
				display: none;
			}
		}
	}
	#pills-profileinfographics{
		float: unset;
		.imgbg {
			margin: 0;
			padding: 0;
		    background-image: url('https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
		    background-origin: unset;
		    background-attachment: unset;
		    background-position: center;
		    background-size: cover;
		    width: 100%;
		    height: 60vh;
		    padding: 10rem;
		}
	}

	#region-main{
		.userupdateform{
			.update-user-form{
				.row{
					.col-md-2 {
						.profilepic{
							img {
								width: 100px;
							    height: 100px;
							    border-radius: 50%;
							    transform: translate(50%, 0);
							    border: 5px solid #949397;
							}
							i{
								position: absolute;
							    top: 9rem;
							    left: 11rem;
							    font-size: 1.5rem;
							    color: green;
							    border: 4px solid #bbb;
							    border-radius: 50%;
							    padding: unset;
							    background: white;
							}
						}
					}
				}
				
			}
		}
	}

	/**********circle css*************************/
	.recently-content .circle {
	    margin: 0 auto;
	}
	.recently-content a {
	    float: right;
	}
	.circle {
	    width: 150px;
	    height: 150px;
	    border: 5px solid #c6deee;
	    text-align: center;
	    border-radius: 100%;
	    background-color: #85cb5b;
	}
	.circle_content {
	    padding: 25px;
	}
	.circle_content span.earnedtext {
	    display: block;
	    font-size: 10px;
	}
	.points {
	    text-align: center;
	    padding: 30px;
	    position: relative;
	}
	.points_1 {
	    width: 50px;
	    height: 230px;
	    display: inline-block;
	    border-radius: 50px;
	    margin-right: 6px;
	}
	.points_1:first-child {
	    background-color:#f5c643;
	    border-color: #f5c643;
	}
	.points_1:nth-child(2) {
	    background-color: #85cb5b;
	    background-color: #85cb5b;
	}
	.points_1:nth-child(3) {
	    background-color: #82b7eb;
	    border-color: #82b7eb;
	}
	.points_1:before {
	    content: "1st";
	    position: absolute;
	    margin-left: -10px;
	    margin-top: -20px;
	}

	.progress {
	  width: 150px;
	  height: 150px;
	  background: none;
	  position: relative;
	}

	.progress::after {
	  content: "";
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  border: 6px solid #eee;
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	.progress>span {
	  width: 50%;
	  height: 100%;
	  overflow: hidden;
	  position: absolute;
	  top: 0;
	  z-index: 1;
	}

	.progress .progress-left {
	  left: 0;
	}

	.progress .progress-bar {
	  width: 100%;
	  height: 100%;
	  background: none;
	  border-width: 6px;
	  border-style: solid;
	  position: absolute;
	  top: 0;
	}

	.progress .progress-left .progress-bar {
	  left: 100%;
	  border-top-right-radius: 80px;
	  border-bottom-right-radius: 80px;
	  border-left: 0;
	  -webkit-transform-origin: center left;
	  transform-origin: center left;
	}

	.progress .progress-right {
	  right: 0;
	}

	.progress .progress-right .progress-bar {
	  left: -100%;
	  border-top-left-radius: 80px;
	  border-bottom-left-radius: 80px;
	  border-right: 0;
	  -webkit-transform-origin: center right;
	  transform-origin: center right;
	}

	.progress .progress-value {
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	/**********End circle css*************************/



}

/* hide edit page profile */

#page-user-editadvanced{
	#id_moodle_additional_names{
		display: none;
	}
	#id_moodle_interests{
		display: none;
	}
	#id_moodle_optional{
		display: none;
	}	
}
