<div class="studentinfos">
<div class="d-flex justify-content-between">
  
  <div class="searchformcourse">
    <form id="searchform" action="/course/search.php" method="get">
        <div class="input-group">
            <div class="input-group-append">
                <div class="btn btn-outline-secondary"  id="button-addon2"><i class="fa fa-search"></i></div>
            </div>
            <input type="text" id="shortsearchbox" size="12" name="search" value="" class="form-control" placeholder=" {{#str}} searchbycourse, theme_moove {{/str}}" aria-label="Search" aria-describedby="button-addon2">
        </div>
    </form>
  </div>
  <div class="sortables">

  	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  		  <li class="nav-item first">
  		    <a class="nav-link" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="false"><i class="fa fa-th-list" aria-hidden="true"></i></a>
  		  </li>
  		  <li class="nav-item second">
  		    <a class="nav-link active" id="pills-grid-tab" data-toggle="pill" href="#pills-grid" role="tab" aria-controls="pills-grid" aria-selected="true"><i class="fa fa-th" aria-hidden="true"></i></a>
  		  </li>
  	</ul>
  </div>

</div>

    <div class="row my-2">
        <div class="col-md ">
          <div class="studentinnerbox">
            <div class="inner">
              <h3>{{{coursesinprogress}}}</h3>
              <p>{{#str}}studentcourseinprogress, theme_moove{{/str}}</p>
            </div>
          </div>
        </div>
          <div class="col-md">
          <div class="studentinnerbox">
            <div class="inner">
              <h3>{{{completedcourses}}}</h3>
              <p>{{#str}}studentcoursecompleted, theme_moove{{/str}}</p>
            </div>
          </div>
        </div>
          <div class="col-md">
          <div class="studentinnerbox">
            <div class="inner">
              <h3>{{{totaltrainingtime}}}</h3>
              <p>{{#str}}studentcoursetrainingtime, theme_moove{{/str}}</p>
            </div>
          </div>
        </div>
          <div class="col-md">
          <div class="studentinnerbox">
            <div class="inner">
              <h3>{{{badgescounts}}}</h3>
              <p>{{#str}}studentbadges, theme_moove{{/str}}</p>
            </div>
          </div>
        </div>
          <div class="col-md">
          <div class="studentinnerbox">
            <div class="inner">
              <h3>{{{pointsearned}}}</h3>
              <p>{{#str}}studentgradepoints, theme_moove{{/str}}</p>
            </div>
          </div>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-grid" role="tabpanel" aria-labelledby="pills-grid-tab">{{{ gridviewcourse }}}</div>
      <div class="tab-pane fade" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab"> {{{ listviewcourses }}} </div>
    </div>
</div>
