<div class="col-md-12">
	<div class="imgbg" style="">
		<div class="text-center p-5">
		{{#user}}
            <h3 class="text-capitalize">{{{firstname}}} {{{lastname}}}</h3>
        {{/user}}
			<h1 class="h1 text-capitalize"> {{#str}}profileinfographics, theme_moove {{/str}} </h1>
			{{#userdate}} {{currenttime}}, %A, %d %B %Y, {{/userdate}}
		</div>
	</div>
	<div class="col-md-12 my-5">
		<div class="row">
			<div class="col-md border-right p-2 m-2 text-center">
				<span> icon here  </span>
				<h1 class="text-primary">{{enrolledincourse}}</h1>
				<p class="bold text-muted"> Course </p>
			</div>
			<div class="col-md border-right p-2 m-2 text-center">
				<span> icon here  </span>
				<h1 class="text-primary">{{totalcertificatetouser}}</h1>
				<p class="bold text-muted"> Certification </p>
			</div>
			<div class="col-md border-right p-2 m-2 text-center">
				<span> icon here  </span>
				<h1 class="text-primary">{{pointsearned}}</h1>
				<p class="bold text-muted"> points </p>
			</div>
			<div class="col-md border-right p-2 m-2 text-center">
				<span> icon here  </span>
				<h1 class="text-primary">{{badgescounts}}</h1>
				<p class="bold text-muted"> Badges </p>
			</div>
			<div class="col-md  p-2 m-2 text-center">
				<span> icon here  </span>
				<h1 class="text-primary">{{studentlevel}}</h1>
				<p class="bold text-muted"> Level </p>
			</div>
		</div>
	</div>
	<div class="col-md-12 my-5 bg-primary">
		<h4 class="text-center text-white text-uppercase my-5 "> {{#str}}studentcoursetrainingtime, theme_moove{{/str}} </h4>
		<div class="row">
			<div class="col-md-6">
				<div class="totaltrainingtime my-auto">
				<h1 class="text-center text-white h1">{{totaltrainingtime}}</h1>
				<p class="text-center text-white text-lowercase"> {{#str}}studentcoursetrainingtime, theme_moove{{/str}} </p>
				</div>
			</div>
			<div class="traingtimegraph col-md-6">
			{{# trainingchartpercourse }}
			<input type="hidden"value="{{trainingchartpercourse}}" id="chartdatavalue"> 
				<canvas id="traingcoureschart" width="300" height="300"></canvas>
			{{/ trainingchartpercourse }}		
			</div>
		</div>
	</div>
	<div class="col-md-12 my-5">
		<div class="row">
			<div class="col-md-6 border-right">
				<h1 class="text-muted text-capitalize h1 my-3">Course completion Rate / </h1>
				{{# getcoursecompletiondata}}
					<input type="hidden" value="{{getcoursecompletiondata}}" id="coursecompletionchartvalue">
					<canvas id="coursecompletionchart" width="300" height="300">  </canvas>
					<div class="d-flex justify-content-around my-3">
						<div class="totalcourse text-center p-2">
							<span class="text-muted"> icon here </span>
							<h1 class="h1 text-muted"> {{totalcourses}} </h1>
						</div>
						<div class="completedcours text-center p-2">
							<span> icon here </span>
							<h1 class="h1 text-muted"> {{totalcompletedcourse}} </h1>
						</div>	
					</div>

				{{/ getcoursecompletiondata}}
			</div>
			<div class="col-md-6">
				<h1 class="text-muted h1 text-capitalize my-3">Test completion Rate </h1>
				{{# testResultChart}}
				<input type="hidden" value="{{testResultChart}}" id="testcompletiondata">
				<canvas id="testcompletionchart" height="300" width="300"></canvas>
				{{/ testResultChart}}
			</div>
		</div>
	</div>
</div>

{{#js}}

require(['jquery',  'mychartjs'], function($) {

	var testcompletiondata  = $("#testcompletiondata").val();
		if(testcompletiondata){
		testcompletiondata = JSON.parse(testcompletiondata);
	var testcompletionchartctx = document.getElementById("testcompletionchart"); 
	var testcompletionchartctxPieChart = new Chart(testcompletionchartctx, {
    	type: 'doughnut',
    	data: {
			    datasets: [{
			        data: [testcompletiondata.attempt],
			    	backgroundColor: 'rgb(0,255,255)' ,
                	borderColor: 'rgb(0,255,255)' ,
                	labels : ['Test pass Rate'],
			    }],
			    // These labels appear in the legend and in the tooltips when hovering different arcs
			    labels: ['Test pass Rate'],
			} ,
    	options: {
           tooltips: {
         		enabled: false
    		},
            plugins: {
	            datalabels: {
	                formatter: (value, ctx) => {
	                  let sum = 0;
	                  let dataArr = ctx.chart.data.datasets[0].data;
	                  dataArr.map(data => { sum += data; });
	                  let percentage = (value*100 / sum).toFixed(2)+"%";
	                  console.log(percentage);
	                  return percentage;
	                },
	                color: '#fff',
	            }
        	}
    	}
	});
	
	}




    var coursecompletionchartvalue = $("#coursecompletionchartvalue").val();
    if (coursecompletionchartvalue) {
    	coursecompletionchartvalue = JSON.parse(coursecompletionchartvalue);

	var coursecompletionchartctx = document.getElementById("coursecompletionchart"); 
	var coursecompletionPieChart = new Chart(coursecompletionchartctx, {
    	type: 'doughnut',
    	data: {
			    datasets: [{
			        data: coursecompletionchartvalue.data,
			    	backgroundColor: coursecompletionchartvalue.backgroundcolor,
                	borderColor: coursecompletionchartvalue.backgroundcolor,
                	labels : coursecompletionchartvalue.label,
			    }],
			    // These labels appear in the legend and in the tooltips when hovering different arcs
			    labels: coursecompletionchartvalue.label
			} ,
    	options: {
           tooltips: {
         		enabled: false
    		},
            plugins: {
	            datalabels: {
	                formatter: (value, ctx) => {
	                  let sum = 0;
	                  let dataArr = ctx.chart.data.datasets[0].data;
	                  dataArr.map(data => { sum += data; });
	                  let percentage = (value*100 / sum).toFixed(2)+"%";
	                  console.log(percentage);
	                  return percentage;
	                },
	                color: '#fff',
	            }
        	}
    	}
	});
	}


 	var chartdata = $("#chartdatavalue").val();
 	if(chartdata){
	chartdata = JSON.parse(chartdata);
	// Chart.defaults.global.defaultFontColor='white';
	var ctx = document.getElementById("traingcoureschart"); 
	var myChart = new Chart(ctx, {
	    type: "bar",
	    data: {
	        labels: chartdata.label, 
	        datasets: [{
	            label: " Most active course (in hours) ",
	            backgroundColor: "rgb(255, 127, 0)",
	            borderWidth: 0,
	            hoverBackgroundColor: "rgba(232,105,90,0.8)",
	            hoverBorderColor: "orange",
	            scaleStepWidth: 1,
	            data: chartdata.data
	        }]
	    },
	    options: { 
	        legend: {
	            labels: {
	                fontColor: "white",
	                fontSize: 18
	            }
	        },
	        scales: {
	            yAxes: [{
	            	 display: true,
			        gridLines: {
			          display: true,
			          color:"white"
			        },
			        scaleLabel: {
			          display: true,
			          labelString: 'Hours',
			          color:"white"
			        },
	                ticks: {
	                    fontColor: "white",
	                    fontSize: 18,
	                    stepSize: 1,
	                    beginAtZero: true
	                }
	            }],
	            xAxes: [{
	            	 display: true,
			        gridLines: {
			          display: false,
			          color:"white"
			        },
			        scaleLabel: {
			          display: true,
			          labelString: '',
			          color:"white"
			        },
	                ticks: {
	                    fontColor: "white",
	                    fontSize: 14,
	                    stepSize: 1,
	                    beginAtZero: true,
	                    callback: function(label) {
				          if (/\s/.test(label)) {
				            return label.split(" ");
				          }else{
				            return label;
				          }              
				        }
	                }
	            }]
	        }
	    }
	});
		

}
    return {};
});

{{/js}}