<div class="card-body">
     <a class="nav-link btn btn-primary" id="profileupdate-tab" data-toggle="tab" href="#profileupdate" role="tab" aria-controls="profileupdate" aria-selected="true">Edit Profile</a>
    <div class="infouser p-3">
        {{# user}}
            <div class="row">
                <div class="col-md-2 offset-5">
                   <div class="profilepic text-center rounded round my-5">
                   <img src="{{profilepicture}}" alt="{{{firstname}}} {{{lastname}}}" id="outImage">
                </div>
                 </div>
            </div>
        
        <div class="row">
            <div class="col-md-4">
                <span> {{#str}}updatename, theme_moove{{/str}} </span>
            </div>
            <div class="col-md-8">
                <div class="d-flex">
                   <strong> {{{firstname}}} {{{lastname}}} </strong> 
                </div>
            </div>
        </div>
        <div class=" row">
            <div class="col-md-4">
                 <span for="emailaddress">{{#str}}updateemail, theme_moove{{/str}}</span>
            </div>
            <div class="col-md-8">   
                <strong> {{{email}}} </strong>    
            </div>
        </div>
        <div class=" row">
            <div class="col-md-4">
                <span for="username">{{#str}}updateusername, theme_moove{{/str}}</span>
            </div>
            <div class="col-md-8"> 
                <strong> {{{username}}} </strong>    
            </div>
        </div>
       <div class=" row">
            <div class="col-md-4">
                <span for="bio">{{#str}}updatebio, theme_moove{{/str}}</span>
            </div>
            <div class="col-md-8">
                <div>{{{description}}}</div>
            </div>
        </div>
        {{/ user}}
    </div>
</div>
{{#js}}
require(['jquery', 'jqueryui'], function($) {

    // $('#openupdatetabe a').on('click', function (e) {
    //     e.preventDefault()
    //     $(this).tab('show')
    // })
});

{{/js}}
